<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://oui.cdn.optimizely.com/13.1.0/oui.css">
  <link rel="stylesheet" href="../frontend/css/style.css">
</head>
<body>
  <header class="flex soft-double soft-quad--sides flex-align--center">
    <h2 class="flex--1"><a href="#">Trash Talk</a></h2>
    <button class="button">Sign In</button>
  </header>
  <section class="text--center banner">
    <h1 class="alpha">Trash Talk</h1>
    <h2 class="">Help Clean Up Your Community</h2>
    <div class="flex flex-justified--center push--top">
      <a href="/schedule" class="button button--highlight">Schedule a Cleanup</a>
      <a href="#cleanups" class="button push--left">View Cleanups</a>
    </div>
  </section>

  <section class="soft-quad" id="cleanups">
    <h1 class="push--bottom">Cleanups</h1>
    <div class="flex flex-align--center border--all soft-double push--bottom">
      <div class="flex--1">
        <h3 class="weight--bold">Cleanup Title</h3>
        <div>122 Main St, Oakland, CA</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget ultricies metus. Aenean id sagittis mi. Sed eu sem nisi. Vivamus consectetur purus sed tristique auctor.</div>
      </div>
      <div class="push--left">8:00am May 16, 2016</div>
    </div>
    <div class="flex flex-align--center border--all soft-double push--bottom">
      <div class="flex--1">
        <h3 class="weight--bold">Cleanup Title</h3>
        <div>122 Main St, Oakland, CA</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget ultricies metus. Aenean id sagittis mi. Sed eu sem nisi. Vivamus consectetur purus sed tristique auctor.</div>
      </div>
      <div class="push--left">8:00am May 16, 2016</div>
    </div>
    <div class="flex flex-align--center border--all soft-double push--bottom">
      <div class="flex--1">
        <h3 class="weight--bold">Cleanup Title</h3>
        <div>122 Main St, Oakland, CA</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget ultricies metus. Aenean id sagittis mi. Sed eu sem nisi. Vivamus consectetur purus sed tristique auctor.</div>
      </div>
      <div class="push--left">8:00am May 16, 2016</div>
    </div>
    <div class="flex flex-align--center border--all soft-double push--bottom">
      <div class="flex--1">
        <h3 class="weight--bold">Cleanup Title</h3>
        <div>122 Main St, Oakland, CA</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget ultricies metus. Aenean id sagittis mi. Sed eu sem nisi. Vivamus consectetur purus sed tristique auctor.</div>
      </div>
      <div class="push--left">8:00am May 16, 2016</div>
    </div>
  </section>

</body>
</html>
{% endautoescape %}
