<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://oui.cdn.optimizely.com/13.1.0/oui.css">
  <link rel="stylesheet" href="../frontend/css/style.css">
</head>
<body>
  <header class="flex soft-double soft-quad--sides flex-align--center">
    <h2 class="flex--1"><a href="#">Trash Talk</a></h2>
    <a class="button" href="{{ auth_url|safe }}">{{ auth_text }}</a>
  </header>
  <section class="text--center banner">
    <h1 class="alpha">Trash Talk</h1>
    <h2 class="">Help Clean Up Your Community</h2>
    <div class="flex flex-justified--center push--top">
      <a href="/schedule" class="button button--highlight">Schedule a Cleanup</a>
      <a href="#cleanups" class="button push--left">View Cleanups</a>
    </div>
  </section>

  <section class="soft-quad" id="cleanups">
    <h1 class="push--bottom">Cleanups</h1>
    {% if events %}
      {% for event in events %}
        <div class="flex flex-align--center border--all soft-double push--bottom">
          <div class="flex--1">
            <h3 class="weight--bold">{{ event.name }}</h3>
            <div>{{ event.address.street }}, {{ event.address.town }}, {{ event.address.state}} {{ event.address.zip}}</div>
            <div>{{ event.address.street }}</div>
          </div>
          <div class="push--left">{{ event.created_at }}</div>
        </div>
      {% endfor %}
    {% else %}
      <div>No Events Found</div>
    {% endif %}
  </section>

</body>
</html>
{% endautoescape %}
