<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://oui.cdn.optimizely.com/13.1.0/oui.css">
  <link rel="stylesheet" href="frontend/css/style.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</head>
<body>
  <header class="flex soft-double soft-quad--sides flex-align--center">
    <h2 class="flex--1"><a href="#">Trash Talk</a></h2>
    <button class="button">Sign In</button>
  </header>

  <section class="soft-quad">
    <h1 class="push--bottom">Schedule a Cleanup</h1>
    <form class="border--all soft-double push--bottom" action="/event" method="post">
      <ol class="form-fields">
        <li class="form-field__item">
          <label class="label">Type</label>
          <select name="category" id="zoo" class="select">
            <option value="cleanup">Cleanup</option>
            <option value="meeting">Meeting</option>
            <option value="other">Other</option>
          </select>
        </li>
        <li class="form-field__item">
          <label class="label">Name</label>
          <input type="text" class="text-input" name="name">
        </li>
        <li class="form-field__item">
          <label class="label">Description</label>
          <input type="text" class="text-input" name="summary">
        </li>
      </ol>
      <div class="flex">
        <div class="flex--1">
          <ol class="form-fields">
            <li class="form-field__item">
              <label class="label">See Click Fix Username</label>
              <input type="text" class="text-input" name="scf_username">
            </li>
            <li class="form-field__item">
              <label class="label">See Click Fix Password</label>
              <input type="text" class="text-input" name="scf_password">
            </li>
            <li class="form-field__item">
              <label class="label">Email</label>
              <input type="text" class="text-input" name="user_email">
            </li>
            <li class="form-field__item">
              <label class="label">Date</label>
              <input id="datepicker" type="text" class="text-input" name="scheduled_date">
            </li>
          </ol>
        </div>
        <div class="flex--1">
          <ol class="form-fields">
            <li class="form-field__item">
              <label class="label">Street Address</label>
              <input type="text" class="text-input" name="address_street">
            </li>
            <li class="form-field__item">
              <label class="label">City</label>
              <input type="text" class="text-input" name="address_town">
            </li>
            <li class="form-field__item">
              <label class="label">Zip Code</label>
              <input type="text" class="text-input" name="address_zip">
            </li>
            <li class="form-field__item">
              <label class="label">State</label>
              <input type="text" class="text-input" name="address_state">
            </li>
          </ol>
        </div>
      </div>
      <button class="button">Send</button>
    </form>
  </section>

</body>
</html>
{% endautoescape %}
