header {
	width: 100%;
}

.alpha {
	font-size: 60px;
}

.banner {
	background-color: #666666;
	background-image: url("../images/banner.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: #d8d8d8;
	padding: 14em 0;
	text-align: center;
	position: relative;
}
